@charset "UTF-8";

@font-face{
    font-family: 'CrashWumpa';
    src: url('../font/CrashBandicootWumpa.ttf');
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
	position:relative; 
}

.number {
	position: absolute;
	font-size: 300px; 
	font-family: 'CrashWumpa', sans-serif;
	text-decoration: none;
	color: #F84B01;
	-webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
	text-shadow: 5px 5px 5px black;
}

@media only screen and (max-width: 767px) {
	.left {
		font-size:45vw;
	    left: 15%;
	}
	    
	.wumpa{
		position: absolute;
		width:40%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	} 
	
	.right {
		font-size:45vw;
		right: 15%;
	}
}

@media only screen and (min-width:768px) and (max-width:991px){
	.left {
		font-size:30vw;
	    left: 25%;
	}
	    
	.wumpa{
		position: absolute;
		width:30%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	} 
	    
	.right {
		font-size:30vw;
		right: 25%;
	}
}

@media only screen and (min-width:992px) and (max-width:1200px){
	.left {
		font-size:30vw;
	    left: 25%;
	}
	
	.wumpa{
		position: absolute;
		width:30%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	} 
	    
	.right {
		font-size:30vw;
		right: 25%;
	}
}

@media only screen and (min-width:1200px) {
	.left {
		font-size:30vw;
    	left: 25%;
	}
	
	.wumpa{
		position: absolute;
		width:30%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	} 
    
	.right {
		font-size:30vw;
		right: 25%;
	}
}
