@charset "UTF-8";

.rigaprodotti{
	width:85%;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	align-items:flex-start;
	justify-content: space-around;
}

.colonnaprodotto{
	flex-basis:0 0 24%;
	padding:10px;
	margin-bottom: 20px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}