@charset "UTF-8";

@font-face{
    font-family: 'CrashWumpa';
    src: url('../font/CrashBandicootWumpa.ttf');
}

@font-face{
	font-family:'RetroMario';
	src: url('../font/SuperMarioBrosNES.ttf');
}

@font-face{
	font-family:'GTAfont';
	src: url('../font/pricedownbl.ttf');
}

@font-face {
    font-family: "CCGeekSpeak";
    src: url("https://db.onlinewebfonts.com/t/eca2f6d7a08be97ebbfb8a1c2c2be5e6.eot");
    src: url("https://db.onlinewebfonts.com/t/eca2f6d7a08be97ebbfb8a1c2c2be5e6.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/eca2f6d7a08be97ebbfb8a1c2c2be5e6.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/eca2f6d7a08be97ebbfb8a1c2c2be5e6.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/eca2f6d7a08be97ebbfb8a1c2c2be5e6.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/eca2f6d7a08be97ebbfb8a1c2c2be5e6.svg#CCGeekSpeak W00 Regular")format("svg");
}

*::before,
*::after {
  box-sizing: border-box;
}

body{
	font-size: 100%;
	font-family: Verdana, sans-serif;	
	width: 100%;
}

body, html{
	margin: 0;
    padding: 0;
    width:100%;
    overflow-x: hidden;
}

body .conbarra {
    margin-top: 100px;
}

div.prova img{
	max-width:100%;
}

header{
	flex-shrink: 0;
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	background-color: white;
  	box-shadow: 0 2px 6px 0  rgba(0,0,0,0.3);
  	margin: 0;
  	position: relative;
  	z-index: 1;	
  	width: 100vw;
}



.ContentHeader{
	display: flex;
	flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.ContentHeader img{
	width:250px;
}

.ContentHeader h5{
	margin:0;
}

.TastoMenu{
	float: left;
	position:absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
}

.TastoRicerca{
	float: left;
	position:absolute;
	top: 50%;
	left: 200px;
	transform: translateY(-50%);
}

.TastoLogin{
	float: right;
	position:absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
}

.TastoCarrello{
	float: right;
	position:absolute;
	top: 50%;
	right: 200px;
	transform: translateY(-50%);
}

.cart p{
	font-family:'RetroMario', sans-serif;
	color: #0000FF;
	text-decoration: none;
	font-size: 100%;
	text-align: center;
}

.cart p.carrello a{
	font-family: 'CrashWumpa', sans-serif;
	text-decoration: none;
	font-size: 100%;
	text-align: center;
}

.barraNavigazione p{
	font-family:'RetroMario', sans-serif;
	color: #0000FF;
	text-decoration: none;
	font-size: 100%;
	text-align: center;
}


.cart{
	font-size: 35px;
	font-family: 'CrashWumpa', sans-serif;
	text-shadow: 2px 2px 5px black;
	border: 2px solid black;
	height: 100%;
  	position: fixed;
  	width:0;
  	z-index: 2;
  	top: 0;
  	right: 0;
  	background-color: #024821;
  	overflow-x: hidden;
  	transition: 0.5s;
  	padding-top: 0px;
}

.barraNavigazione{
	font-size: 35px;
	font-family: 'CrashWumpa', sans-serif;
	text-shadow: 2px 2px 5px black;
	border: 2px solid black;
	height: 100%;
  	position: fixed;
  	width:0;
  	z-index: 2;
  	top: 0;
  	left: 0;
  	background-color: #024821;
  	overflow-x: hidden;
  	transition: 0.5s;
  	padding-top: 0px;
}
	
.barraNavigazione ul{
    list-style-image: url("../images/wumpabullet.png");
}
	
.barraNavigazione li ul{
	list-style-image: url("../images/cratebullet.png");
}		

.barraNavigazione li#console:hover{
    list-style-image: url("../images/wumpabullet.gif");
}

		.barraNavigazione li ul li#sony:hover{
			list-style-image: url("../images/cratebullet.gif");
		}
		
		.barraNavigazione li ul li#microsoft:hover{
			list-style-image: url("../images/cratebullet.gif");
		}
		
		.barraNavigazione li ul li#nintendo:hover{
			list-style-image: url("../images/cratebullet.gif");
		}
		
		.barraNavigazione li ul li#sega:hover{
			list-style-image: url("../images/cratebullet.gif");
		}
		
		.barraNavigazione li ul li#atari:hover{
			list-style-image: url("../images/cratebullet.gif");
		}
		
		.barraNavigazione li ul li#altre:hover{
			list-style-image: url("../images/cratebullet.gif");
		}


.barraNavigazione li#videogiochi:hover{
    list-style-image: url("../images/wumpabullet.gif");
}

		.barraNavigazione li ul li#genere:hover{
			list-style-image: url("../images/cratebullet.gif");
		}

.barraNavigazione li#collezionabili:hover{
    list-style-image: url("../images/wumpabullet.gif");
}
.barraNavigazione li#aboutus:hover{
    list-style-image: url("../images/wumpabullet.gif");
}

.prova{
	display: flex;
	flex-direction:column;
    align-items: center;
    justify-content: center;
    height:100%;
}

.barraNavigazione a{
	text-decoration: none;
	color: #F84B01;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.cart a{
	text-decoration: none;
	color: #F84B01;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.barraNavigazione .closebtn {
  	position: absolute;
  	left:0;
  	padding:0;
  	font-size: 36px;
  	margin-left: 10px;
  	margin-top:10px;
  	text-decoration: none;
	color: #F84B01;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.cart .closecart {
  	position: absolute;
  	left:0;
  	padding:0;
  	font-size: 36px;
  	margin-left: 10px;
  	margin-top:10px;
  	text-decoration: none;
	color: #F84B01;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


.contenutologin .loginform .campilogin {
  display: grid;
}

.contenutologin {
  position: relative;
  height: 100vh;
  align-items: center;
}

.immaginelogin {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.loginform {
  position: relative;
  background-color: hsla(244, 16%, 92%, 0.6);
  border: 2px solid hsla(244, 16%, 92%, 0.75);
  margin-inline: 1.5rem;
  row-gap: 1.25rem;
  backdrop-filter: blur(20px);
  padding: 2rem;
  border-radius: 1rem;
}

.titolologin {
	color: #F84B01;
	font-family: 'CrashWumpa', sans-serif;
	font-size: 70px;
	text-shadow: 2px 2px 5px black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	margin-bottom: 0.5rem;
	padding-top: 0;
	margin-top: 0;
}

.campilogin {
  row-gap: 0.75rem;
  margin-bottom: 0.5rem;
}

.titoloemailpass {
  display: block;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.25rem;
}
.emailpass {
  width: 100%;
  padding: 14px 12px;
  border-radius: 6px;
  border: 2px solid var(--text-color);
  background-color: hsla(244, 16%, 92%, 0.6);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  transition: border 0.4s;
}

.bloccopass {
  position: relative;
}

.bloccopass .campoemail {
  padding-right: 36px;
}

.bloccopass .campopass {
  padding-right: 36px;
}

.pulsantilogin {
  display: flex;
  column-gap: 0.75rem;
}

.logreg{
	text-transform: uppercase;
    text-decoration: none;
    font-family: "CCGeekSpeak", sans-serif;
    color: #FFF;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
    font-weight: normal;
    background-color:transparent;
    background-image: url("../images/pulsantelogin.png");
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    padding: 14px 2rem;
    font-size: 30px;
    text-wrap: nowrap;
    margin-bottom: 1rem;
	cursor: pointer;
    margin-left:5px;
	border:0px;
}

.logreg:focus {
  box-shadow: none;
}

.logreg:hover {
  box-shadow: none;
  transform: translateY(-2px);
}

.logreg:active {
  box-shadow: none;
  transform: translateY(2px);
}


/*.logreg {
  width: 100%;
  padding: 14px 2rem;
  border-radius: 6px;
  background-image: url("../images/pulsantelogin.png");
  color: #fff;
  font-size: 20px;
  font-weight: var(--font-semi-bold);
  
  margin-bottom: 1rem;
  cursor: pointer;
  margin-left:5px;
  border:0px;
  box-sizing: content-box;
} */

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}

footer p.azienda{
	margin: 7px 0px;
}

.logofooter{
	width:150px;
	margin-bottom:15px;
}

.rigafooter{
	width:85%;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	align-items:flex-start;
	justify-content: center;
}

.colonnafooter{
	flex-basis:25%;
	padding:10px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colonnafooter ul {
    padding-left: 0;
}


.colonnafooter:nth-child(2) {
    flex: 2;
}

.email-id a{
	width:fit-content;
	border-bottom: 1px solid #ccc;
	margin: 5px 0;
	text-align: center;
	text-decoration: none;
	color: white;
}

.copyright{
	text-align:center;
	color: #fff;
	color: #fff;
}

@media only screen and (max-width: 767px) {
    .barraNavigazione.open {
        width: 100%;
        font-size: 50px;
    }
    
    .pulsantilogin {
    	flex-direction: column;
  	}
  	
  	.emailpass {
	    border: 2.5px solid var(--text-color);
	    padding: 1rem;
	    font-size: var(--small-font-size);
	    width: calc(100% - (0.75rem * 2));
	}
	
    
    .cart.opencart {
        width: 100%;
        font-size: 50px;
    }
    
    body{
    	max-width: 100%;
    	height: auto; 
    }
    
    header{
  		position: relative;
  		width:auto;
    }
    
	.ContentHeader{
		display: flex;
		flex-direction:column;
    	align-items: center;
    	justify-content: center;
    	margin: 0;
    	padding: 0;
	}
    
    .ContentHeader a{
    	display: block;
    }
    
    .ContentHeader img{
    	width:75px;
    }
    
    .TastoMenu{
		left: 15px;
	}
	
	.TastoMenu img{
		width:50px;
		
	}
	
	.TastoRicerca{
		left: 75px;
	}
	
	.TastoRicerca img{
		width:50px;
	}
    
    .TastoLogin{
		right: 15px;
	}
	
	.TastoLogin img{
		width:50px
	}

	.TastoCarrello{
		right: 75px;
	}
	
	.TastoCarrello img{
		width:50px;
	}
	
	#barraRicerca {
		width: calc(100% - 100px);
	}
	
	.squarelogin {
    	height: 100vh;
	    display: flex;
	    justify-content: center;
	    align-items: center;
  	}
  	
  	.loginform {
	    margin-top:20%;
	}

	.contenutologin {
	  position: relative;
	  height: 100%;
	  width:100%;
	  display: flex;
 	  justify-content: center;
	  align-items: center;
	}
}

@media only screen and (min-width:768px) and (max-width:991px){
	.barraNavigazione.open {
        width: 50%;
    }
    
    .cart.opencart {
        width: 50%; 
    }
    
    .squarelogin {
    	height: 100vh;
    	display: grid;
    	place-items: center;
  	}
    
    .loginform {
    	width: 450px;
    	justify-self: center;
  	}
  	
  	.logreg{
  		left:10px;
  	}
  	
  	.emailpass {
	    border: 2.5px solid var(--text-color);
	    padding: 1rem;
	    font-size: var(--small-font-size);
	    width: calc(100% - (0.75rem * 2));
	}
	
	

	.contenutologin {
	  position: relative;
	  height: 100%;
	  width:100%;
	  display: flex;
 	  justify-content: center;
	  align-items: center;
	}
}


@media only screen and (min-width:992px) and (max-width:1199px) {
    .barraNavigazione.open {
        width: 35%;
    }
    .cart.opencart {
        width: 35%;
    }
    
    .squarelogin {
    	height: 100vh;
    	display: grid;
    	place-items: center;
  	}
  	
  	.contenutologin {
    	display: flex;
  		height: 90vh;
  		width:90%;
  		align-items: center;
  	}
  	
  	.immaginelogin {
  		flex: 1;
  		width: 100%;
  		height: 90vh; 
  		object-fit: cover; 
  		border-radius: 3.5rem;
  		box-shadow: 0 24px 48px hsla(244, 75%, 36%, 0.45);
	}
  	
  	.loginform {
	    position: relative;
  		width: 50%; 
  		background-color: hsla(244, 16%, 92%, 0.6);
  		border: 2.5px solid hsla(244, 16%, 92%, 0.75);
  		margin-inline: 1.5rem;
  		row-gap: 2rem;
  		backdrop-filter: blur(20px);
  		padding: 3rem;
  		border-radius: 1.25rem;
  		z-index: 1;
	}
	

}

@media only screen and (min-width:1200px) {
	header{
		width:100%;
	}
	
    .barraNavigazione.open {
        width: 300px;
    }
    .cart.opencart {
        width: 300px;
    }
    
	.squarelogin {
    	height: 100vh;
    	display: flex;
    	align-items: center;
    	justify-content: center;
	}
	
	.contenutologin {
	    display: flex;
	    height: 90vh;
	    width:75%;
	}
	 
	.immaginelogin {
  		flex: 1;
  		width: 100%;
  		height: 90vh; 
  		object-fit: cover; 
  		border-radius: 3.5rem;
  		box-shadow: 0 24px 48px hsla(244, 75%, 36%, 0.45);
	}
	 
	.loginform {
	    position: relative;
	    width: 50%; 
	    background-color: hsla(244, 16%, 92%, 0.6);
	    border: 2.5px solid hsla(244, 16%, 92%, 0.75);
	    margin-inline: 1.5rem;
	    row-gap: 2rem;
	    backdrop-filter: blur(20px);
	    padding: 3rem;
	    border-radius: 1.25rem;
	    z-index: 1;
	}
	
	.descrizionelogin, .titoloemailpass{
	    font-family:'GTAfont', sans-serif;
	    font-size: 30px;
	}
	
	.campilogin {
	    row-gap: 1.25rem;
	    margin-bottom: 0.75rem;
	}
	
	.emailpass {
	    border: 2.5px solid var(--text-color);
	    padding: 1rem;
	    font-size: var(--small-font-size);
	}
	
	.emailpass:focus, .emailpass:valid {
	    border: 2.5px solid var(--first-color);
	}
	
	.logreg {
	    padding-block: 1rem;
	    margin-bottom: 1.25rem;
	}  

}

@keyframes apriricerca {
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes chiudiricerca {
    0% {
        transform: translate3d(0, 0, 0);
    }
    99%{
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    100%{visibility: hidden;}
}


#barraRicerca {
	visibility: hidden;
	height:0%;
    margin-top: 10px;
    width: 98vw;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
  	padding: 12px 12px;
  	border-radius: 6px;
  	border: 3px solid blue;
  	background-color: hsla(244, 16%, 92%, 0.6);
  	color: var(--title-color);
  	font-size: var(--smaller-font-size);
  	font-weight: var(--font-medium);
  	margin-left: auto;
    margin-right: auto;	
    box-sizing: border-box;
}

#barraRicerca.open {
    height: auto;
    visibility: visible;
    display: block;
}

#barraRicerca.close {
    height: auto;
    visibility: hidden;
    display: block;
}

#barraRicerca.close {
	animation-name: chiudiricerca;
    animation-duration: 1s; 
    animation-timing-function: ease-in-out; 
    animation-fill-mode: forwards; 
}

#barraRicerca.open {
    animation-name: apriricerca;
    animation-duration: 1s; 
    animation-timing-function: ease-in-out; 
    animation-fill-mode: forwards; 
}


header h1 {
	font-family:'RetroMario', sans-serif;
	color: #0000FF;
	text-shadow: 2px 2px 5px black;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
   /* 
   -moz-text-stroke-width: 1px;
    -moz-text-stroke-color: black;
    -o-text-stroke-width: 1px;
    -o-text-stroke-color: black;
    -ms-text-stroke-width: 1px;
    -ms-text-stroke-color: black;
    */
}







