@charset "UTF-8";

@font-face {
    font-family: 'CrashWumpa';
    src: url('../font/CrashBandicootWumpa.ttf');
}

@font-face{
	font-family:'RetroMario';
	src: url('../font/SuperMarioBrosNES.ttf')
}

body{
	font-size: 100%;
	font-family: Verdana, sans-serif;	
}

body, html{
	margin: 0;
    padding: 0;
}

header{
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	background-color: white;
  	box-shadow: 0 2px 6px 0  rgba(0,0,0,0.3);
  	width: 100%;
  	margin: 0;
}

.ContentHeader{
	display: flex;
	flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    
  	/*z-index:3;*/
}

.TastoMenu{
	float: left;
	position:absolute;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
}

.TastoLogin{
	float: right;
	position:absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
}

.TastoCarrello{
	float: right;
	position:absolute;
	top: 50%;
	right: 120px;
	transform: translateY(-50%);
}

.cart p{
	font-family:'RetroMario', sans-serif;
	color: #0000FF;
	text-decoration: none;
	font-size: 100%;
	text-align: center;
}

.cart p.carrello a{
	font-family: 'CrashWumpa', sans-serif;
	text-decoration: none;
	font-size: 100%;
	text-align: center;
}

.barraNavigazione p{
	font-family:'RetroMario', sans-serif;
	color: #0000FF;
	text-decoration: none;
	font-size: 100%;
	text-align: center;
}


.cart{
	font-size: 35px;
	font-family: 'CrashWumpa', sans-serif;
	text-shadow: 2px 2px 5px black;
	border: 2px solid black;
	height: 100%;
  	position: fixed;
  	width:0;
  	z-index: 1;
  	top: 0;
  	right: 0;
  	background-color: #024821;
  	overflow-x: hidden;
  	transition: 0.5s;
  	padding-top: 0px;
}

.barraNavigazione{
	font-size: 35px;
	font-family: 'CrashWumpa', sans-serif;
	text-shadow: 2px 2px 5px black;
	border: 2px solid black;
	height: 100%;
  	position: fixed;
  	width:0;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	background-color: #024821;
  	overflow-x: hidden;
  	transition: 0.5s;
  	padding-top: 0px;
}
	
.barraNavigazione ul{
    list-style-image: url("../images/wumpabullet.png");
}
	
.barraNavigazione li ul{
	list-style-image: url("../images/cratebullet.png");
}		

.barraNavigazione li#console:hover{
    list-style-image: url("../images/wumpabullet.gif");
}

		.barraNavigazione li ul li#sony:hover{
			list-style-image: url("../images/cratebullet.gif");
		}
		
		.barraNavigazione li ul li#microsoft:hover{
			list-style-image: url("../images/cratebullet.gif");
		}
		
		.barraNavigazione li ul li#nintendo:hover{
			list-style-image: url("../images/cratebullet.gif");
		}
		
		.barraNavigazione li ul li#sega:hover{
			list-style-image: url("../images/cratebullet.gif");
		}
		
		.barraNavigazione li ul li#atari:hover{
			list-style-image: url("../images/cratebullet.gif");
		}
		
		.barraNavigazione li ul li#altre:hover{
			list-style-image: url("../images/cratebullet.gif");
		}


.barraNavigazione li#videogiochi:hover{
    list-style-image: url("../images/wumpabullet.gif");
}

		.barraNavigazione li ul li#genere:hover{
			list-style-image: url("../images/cratebullet.gif");
		}

.barraNavigazione li#collezionabili:hover{
    list-style-image: url("../images/wumpabullet.gif");
}
.barraNavigazione li#aboutus:hover{
    list-style-image: url("../images/wumpabullet.gif");
}

.prova{
	display: flex;
	flex-direction:column;
    align-items: center;
    justify-content: center;
    height:100%;
}

.barraNavigazione a{
	text-decoration: none;
	color: #F84B01;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.cart a{
	text-decoration: none;
	color: #F84B01;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.barraNavigazione .closebtn {
  	position: absolute;
  	left:0;
  	padding:0;
  	font-size: 36px;
  	margin-left: 10px;
  	margin-top:10px;
  	text-decoration: none;
	color: #F84B01;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.cart .closecart {
  	position: absolute;
  	left:0;
  	padding:0;
  	font-size: 36px;
  	margin-left: 10px;
  	margin-top:10px;
  	text-decoration: none;
	color: #F84B01;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/*@media screen and (max-height: 450px) {
  	.barraNavigazione {padding-top:;}
  	.barraNavigazione a {font-size: 18px;}
}*/

@media (max-width: 600px) {
    .barraNavigazione.open {
        width: 100%;
        font-size: 50px;
    }
    
    .cart.opencart {
        width: 100%;
        font-size: 50px;
    }
    
    body{
    	width:100%;
    }
    
    header{
  		position: relative;
  		width:auto;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .barraNavigazione.open {
        width: 35%;
    }
    .cart.opencart {
        width: 35%;
    }
}

@media (min-width: 1025px) {
    .barraNavigazione.open {
        width: 300px;
    }
    .cart.opencart {
        width: 300px;
    }
}

header h1 {
	font-family:'RetroMario', sans-serif;
	color: #0000FF;
	text-shadow: 2px 2px 5px black;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
   /* 
   -moz-text-stroke-width: 1px;
    -moz-text-stroke-color: black;
    -o-text-stroke-width: 1px;
    -o-text-stroke-color: black;
    -ms-text-stroke-width: 1px;
    -ms-text-stroke-color: black;
    */
}



/*

.sidebar .overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right:0;
	z-index: 4;
	background-color: rgba(0,0,0,0.3);
}

.sidebar .contenutosidebar{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 5;
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 500px;
	animation-duration: 0.3s;
	animation-fill-mode: both;
}



.sidebar.show{
	display:block;
}
.sidebar.hidden{
	display: block;
}

.sidebar.show .overlay{
	animation-name: comparsaOverlay;
}

.sidebar.hidden .overlay{
	visibility: hidden;
}

.sidebar.show .contenutosidebar{
	animation-name: comparsaMenu;
}

.sidebar.hidden .contenutosidebar{
	animation-name: scomparsaMenu;
}


.sidebar .headersidebar{
	width:100%;
	position: relative;
	text-align: center;
	background-color: blue;
	
}

.sidebar .headersidebar h4 {
	font-family:'RetroMario', sans-serif;
	font-weight: 600;
}

.sidebar .headersidebar .closeicon {
	position: absolute;
	left: 10px;
	top: 0;
	bottom: 0;
	width: 24px;
	height: 24px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	margin-bottom: auto;
	border-radius:100%;
	cursor: pointer;
	transition: all 0.3s;
}
.sidebar .bodysidebar {
	padding: 8px;
	overflow-y: auto;
	height: 100%; 
}


@keyframes comparsaOverlay{
	0%{
		opacity:0;	
	}
	
	to{
		opacity:1;
	}
	
}

@keyframes comparsaMenu{
	0%{
		transform: translate3d(0,0,100%);
		visibility: visible;
	}
	
	to{
		transform: translateZ(0);
	}
}

@keyframes comparsaMenu{
	0%{
		transform: translateZ(0);
	}
	
	to{
		transform: translate3d(0,0,100%);
		visibility: hidden;
	}
}

*/





