@charset "UTF-8";

.prodottosingolo {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.immagine-prodotto, .info-prodotto {
	flex: 1 50%;
}

.info-prodotto {
	margin-top: 30px;
}

.descrizione-prodotto {
	flex: 1 100%;
	margin-left:20px;
	border: 1px solid black;
}

.imgprodotto {
	width: 400px;
	margin-left: 50px;
	margin-top: 40px;
}

.aggiungi {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.aggiungi:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.aggiungi:main,
.aggiungi:focus {
  user-select: auto;
}

.aggiungi:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.aggiungi:disabled {
  cursor: auto;
}

.aggiungi:active {
  border-width: 4px 0 0;
  background: none;
}

@media only screen and (max-width:991px) {
    .prodottosingolo {
        justify-content: center;
        align-items: center;
    }

    .immagine-prodotto, .info-prodotto, .descrizione-prodotto {
        flex: 1 100%;
        display: flex;
        justify-content: center;
    }

    .info-prodotto {
    	flex-direction:column;
        margin-top: 30px;
        justify-content: space-around;
        align-items: center;
    }
    

    .descrizione-prodotto {
        margin-left: 0;
        margin-top: 30px;
    }

    .imgprodotto {
        width: 100%;
        max-width: 400px;
        margin-left: 0;
        margin-top: 30px;
    }
}


.prodottosingolo{
	background-color: white;
    border-radius: 15px;
    margin: 100px 30px 100px 30px;
}



