@charset "UTF-8";

.campiregister, .registerform {
  display: grid;
}

.registerform {
  position: relative;
  background-color: hsla(244, 16%, 92%, 0.6);
  border: 2px solid hsla(244, 16%, 92%, 0.75);
  margin-inline: 1.5rem;
  row-gap: 1.25rem;
  backdrop-filter: blur(20px);
  padding: 2rem;
  border-radius: 1rem;
}

.campiregister {
  row-gap: 0.75rem;
  margin-bottom: 0.5rem;
}

.pulsantiregister {
  display: flex;
  column-gap: 0.75rem;
}

.descrizioneregister, .titoloemailpass{
	    font-family:'GTAfont', sans-serif;
	    font-size: 20px;
	    margin:0px;
}

.titoloregister {
	color: #F84B01;
	font-family: 'CrashWumpa', sans-serif;
	font-size: 60px;
	text-shadow: 2px 2px 5px black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	margin-bottom: 0.5rem;
	padding-top: 0;
	margin-top: 0;
}

.reg{
	text-transform: uppercase;
    text-decoration: none;
    font-family: "CCGeekSpeak", sans-serif;
    color: #FFF;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
    font-weight: normal;
    background-color:transparent;
    background-image: url("../images/pulsantelogin.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;
    width: 100%;
    padding: 14px 2rem;
    font-size: 30px;
    text-wrap: nowrap;
	cursor: pointer;
    margin-left:5px;
	border:0px;
}

.reg:focus {
  box-shadow: none;
}

.reg:hover {
  box-shadow: none;
  transform: translateY(-2px);
}

.reg:active {
  box-shadow: none;
  transform: translateY(2px);
}

.campiregister p{
	margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media only screen and (min-width:1200px) {

	.campilogin {
	    row-gap: 1.25rem;
	    margin-bottom: 0.75rem;
	}
	
	.registerform {
	    position: relative;
	    width: 50%; 
	    background-color: hsla(244, 16%, 92%, 0.6);
	    border: 2.5px solid hsla(244, 16%, 92%, 0.75);
	    margin-inline: 1.5rem;
	    row-gap: 1rem;
	    backdrop-filter: blur(20px);
	    padding: 1rem 3rem 1rem 3rem;
	    border-radius: 1.25rem;
	    z-index: 1;
	}
}